<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/logo.png" rel="icon">
  <link href="../static/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/css/das_css_vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/das_css_vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/css/das_css_vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/css/das_css_vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/css/das_css_vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../static/css/das_css_vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../static/css/das_css_vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/das_style.css" rel="stylesheet">
    
  <link href="../static/css/assets_style.css" rel="stylesheet">

  <!-- fontawsome icon -->
  <script src="https://kit.fontawesome.com/d3934b3ba3.js" crossorigin="anonymous"></script>
</head>

<body>
  <header id="header" class="header fixed-top" style="height: 80px;">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" style="height: 50px;">

      <a href="http://127.0.0.1:5000/" class="logo d-flex align-items-center">
        <img src="../static/img/logo.png" alt="logo">
        <span>CareerSpring</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">1:1 Mentorship</a></li>
              <li><a href="#">College Search</a></li>
              <li><a href="#">Test</a></li>
            </ul> 
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="http://127.0.0.1:5000/login"target="_blank">Login/Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->




          

          




  <main id="main" class="main">

    

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

              
                <div class="card-body">
                  <h5 class="card-title">Student Mentorship</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center" style="background:rgba(228, 223, 223, 0.847);">
                      <i class="fa-solid fa-user" style="color: red;;"></i>
                    </div>
                    <div class="ps-3">
                      
                     <a href="http://127.0.0.1:5000/student"><button class="btn btn-primary">Select</button></a> 
                      <!-- <span class="text-success small pt-1 fw-bold">+3%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                

                <div class="card-body " >
                  <h5 class="card-title">Professional Mentorship</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="ps-3">
                      <a href="http://127.0.0.1:5000/professional"><button class="btn btn-primary">Select</button></a> 
                      <!-- <span class="text-success small pt-1 fw-bold">+8%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

         
        
        </div> <!-- End #main -->



  <!-- ======= Footer ======= -->
  
   

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/css/das_vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="../static/css/das_vendor/php-email-form/validate.js"></script>
  <script src="../static/css/das_vendor/quill/quill.min.js"></script>
  <script src="../static/css/das_vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/css/das_vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/css/das_vendor/chart.js/chart.min.js"></script>
  <script src="../static/css/das_vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/css/das_vendor/echarts/echarts.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/das_main.js"></script>

</body>

</html>