<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/re_lo.css">
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
    <title>Career Vision - register</title>
</head>
<body>
    <div class="container">
        <div class="left">
            
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/students-giving-online-exam-4487977-3722665.png" alt="left_img" height="500">

        </div>
        <div class="right">
           <div class="text">
            <img src="./img/logo.png" alt="logo" height="100">
            <h1>WELLCOME TO CAREER VISION</h1>
            <h2>Step Toward Your Dream</h2>
           </div> 
            <div class="icons">
              <a href=""><img src="https://assets.stickpng.com/images/5847f9cbcef1014c0b5e48c8.png" alt="google" width="30"></a>  
                <a href=""><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-facebook_-512.png" alt="facebook" width="30"></a>
               <a href=""> <img src="https://cdn.iconscout.com/icon/free/png-128/github-163-761603.png" alt="github" width="30"></a>
            </div>
            <form action="">
                <input type="text" placeholder="Username"><br>
                <input type="text" placeholder="Email"><br>
                <input type="password" placeholder="Passwword"><br>
                <input type="password" placeholder="Confirm Password"><br>
                <button> <a href="users-profile.html" style="color: white; text-decoration:none;">REGISTER</a></button>
           
                <h3>Already Have Account ? <a href="login.html">Login</a> </h3>
                
            </form>

        </div>
    </div>
    
</body>
</html>